In [2]:
import pandas as pd

In [131]:
agent_data = pd.read_csv("Agent Performance Report.csv")

In [260]:
agent_data.head()

,SL_No,Date,Agent_Name,Total_Chats,Average_Response_Time,Average_Resolution_Time,Average_Rating,Total_Feedback,day,month,year,week
0,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9,30,7,2022,30
1,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7,30,7,2022,30
2,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11,30,7,2022,30
3,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7,30,7,2022,30
4,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6,30,7,2022,30

In [ ]:
agent_data["Date"]

In [134]:
agent_data["Date"] = agent_data["Date"].astype('datetime64[ns]')

In [ ]:
agent_data.dtypes

In [136]:
agent_data["day"] = agent_data['Date'].apply (lambda r :r.day)
agent_data["month"] = agent_data['Date'].apply (lambda r :r.month)
agent_data["year"] = agent_data['Date'].apply (lambda r :r.year)
agent_data["week"] = agent_data['Date'].apply (lambda r :r.week)

In [ ]:
agent_data

 Answers (Could not perform for all users.)

In [319]:
#1 .Find out there avarage rating on weekly basis keep this in a mind that they take two days of leave

agent_week_rating = agent_data[(agent_data["Average_Rating"] != 0) & 
                               (agent_data["Agent_Name"] == "Prerna Singh")][["Agent_Name","Average_Rating","week"]].groupby("week")
agent_week_rating

In [ ]:
#2 .Total working days for each agents
agent_individual = agent_data[agent_data["Agent_Name"] == "Prerna Singh"]
agent_working = agent_individual[agent_individual["Total_Chats"] != 0][["day"]]
len(agent_working["day"])

#There seems to be some error in data entry but it does not affect the count

In [ ]:
#3. Total query that you have taken
agent_data["Total_Chats"].sum()

In [ ]:
#4. total Feedback that you have received 
agent_data["Total_Feedback"].sum()

In [ ]:
#5 agent name who have average rating between 3.5 to 4 
agent_data[(agent_data["Average_Rating"] >3.5) & (agent_data["Average_Rating"]<4)][["Average_Rating","Agent_Name"]]

In [ ]:
#6 . Agent name who have rating lesss then 3.5 
agent_data[agent_data["Average_Rating"]<3.5][["Average_Rating","Agent_Name"]]

In [ ]:
#7 . agent name who have rating more then 4.5 
top_agents = agent_data[agent_data["Average_Rating"]>4.5][["Average_Rating","Agent_Name"]]
top_agents

In [ ]:
#8 . how many feedaback agents have received more then 4.5 average
len(top_agents["Agent_Name"])

In [ ]:
#11 list of all agents name
agent_data["Agent_Name"].unique()

In [ ]:
#12 . percentage of chat on which they have received a feedback
agent_feedback = agent_data[agent_data["Total_Chats"] != 0][["Agent_Name","Total_Chats","Total_Feedback"]]
agent_feedback["feedback_ratio"] = agent_feedback["Total_Feedback"]/agent_feedback["Total_Chats"]
agent_feedback

Unable to do

In [305]:
#9 . average weekly response time for each agent 
agent_response = agent_data[(agent_data["Total_Chats"] != 0)][["Agent_Name","Average_Response_Time","week"]]
agent_response = agent_response[agent_response["Agent_Name"] == "Prerna Singh"]
agent_response = agent_response["Average_Response_Time"]

In [ ]:
"""
10 . average weekely resolution time for each agents 
13 . Total contributation hour for each and every agents weekly basis 
14. total percentage of active hour for a month 
"""